*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.varela_google {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(150deg, rgba(56, 160, 132, 0.2), #061612);
}
* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: #020e09;
  color: antiquewhite;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
}
